vim.symlink/bundle/
.DS_Store
.netrwhist
plug.vim
.nvimlog
.tags
node_modules
.next
.vercel
out
*.log
*.local

# Local Netlify folder
.netlify

public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
