.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol {
  @apply my-6 text-xl tracking-wide font-serif;
}

.markdown figure {
  border-radius: 50rem;
}

.markdown figure:nth-of-type(2n-1) {
  @apply rounded-br-full overflow-hidden;
}

.markdown figure:nth-of-type(2n) {
  @apply rounded-bl-full overflow-hidden;
}

.markdown p {
  @apply mb-6;
}

.pretty-heading {
  @apply font-bold leading-snug tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-cyan-600 to-fuchsia-600;
}

.markdown h1 {
  @apply mt-16 mb-8 text-4xl pretty-heading;
}

.markdown h2 {
  @apply mt-12 mb-4 text-3xl pretty-heading;
  @apply bg-gradient-to-l;
}

.markdown h3 {
  @apply mt-8 mb-4 text-2xl pretty-heading;
  @apply from-cyan-600 to-lime-600;
}

.markdown ul,
.markdown ol {
  @apply ml-8;
}

.markdown ul > li {
  @apply list-disc;
}

.markdown ol > li {
  @apply list-decimal;
}

.markdown blockquote {
  @apply relative md:mx-20 md:my-12 font-serif text-xl italic;

  &::before,
  &::after {
    @apply absolute font-sans text-cyan-500 dark:text-cyan-400 opacity-50 text-7xl leading-none p-1;
    @apply bg-clip-text bg-gradient-to-b from-lime-600 to-cyan-600 dark:from-lime-500 dark:to-cyan-500 text-transparent;
  }

  &::before {
    @apply top-0 left-0 md:-mt-8 md:-ml-20;
    content: '❝';
  }

  &::after {
    @apply bottom-0 right-0 md:-mb-8 md:-mr-20;
    content: '❞';
  }
}

.markdown a {
  @apply text-transparent bg-clip-text bg-gradient-to-t from-cyan-600 to-cyan-600 transition-all underline duration-500;
}

.markdown a:hover {
  @apply to-fuchsia-600;
  text-decoration-color: theme(colors.cyan[600]);
}
