@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-indigo-100 dark:bg-indigo-900;
	}

	body {
		@apply text-gray-900 transition-colors duration-700 bg-gradient-to-tr from-lime-200 via-cyan-200 to-indigo-200 rainbow-wheel dark:text-gray-100 dark:from-cyan-800 dark:via-indigo-800 dark:to-purp-800;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans leading-tight;
	}

	::selection {
		@apply bg-fuch-700 text-gray-100 dark:bg-flame-300 dark:text-gray-900;
	}
}

@layer components {
	.shimmer {
		@apply animate-shimmer;
	}

	.moonface {
		@apply dark:shadow-moon z-10 transform-gpu;
		transform: rotateY(180deg);
	}

	.rainbow-wheel {
		background-size: 400% 400%;

		@apply bg-gradient-to-tr animate-rainbowheel;
	}

	.rainbow-wheel.trio {
		background-size: 600% 600%;
		animation-duration: 60s;
	}

	hr.dinkus {
		@apply relative h-6 mt-16 mb-24 leading-none text-center border-0 overflow-visible;
	}

	hr.dinkus::after {
		content: attr(data-content);

		@apply relative inline-block text-4xl md:text-5xl lg:text-6xl text-cyan-900 dark:text-flame-100 p-4;
	}

	.btn {
		@apply py-4 text-2xl font-bold text-gray-100 rounded-lg shadow focus:ring focus:outline-none transition-all duration-500 bg-gradient-to-br to-purp-600 from-fuch-600 hover:from-indigo-500 dark:to-lime-500 dark:from-indigo-500 dark:hover:from-gold-500 font-sans;
	}

	.btn.wide {
		@apply block w-full px-12 mx-auto;
	}

	.field .input {
		@apply block w-full px-3 py-2 mt-1 border-2 border-gray-400 rounded shadow hover:border-gray-500 focus:border-cyan-500 focus:outline-none font-serif;
	}

	.post-preview:nth-of-type(4n-3) .cover-image,
	.post-preview:nth-of-type(4n-2) .cover-image,
	.post-preview:nth-of-type(4n-1) .cover-image,
	.post-preview:nth-of-type(4n) .cover-image {
		@apply overflow-hidden sm:rounded-tr-full sm:rounded-br-full sm:rounded-bl-full sm:rounded-tl-full md:rounded-lg;
	}

	.post-preview:nth-of-type(4n-2) .cover-image,
	.post-preview:nth-of-type(4n-1) .cover-image,
	.post-preview:nth-of-type(4n) .cover-image {
		@apply md:rounded-br-full;
	}

	.post-preview:nth-of-type(4n-3) .cover-image,
	.post-preview:nth-of-type(4n) .cover-image,
	.post-preview:nth-of-type(4n-1) .cover-image {
		@apply md:rounded-bl-full;
	}

	.post-preview:nth-of-type(4n-3) .cover-image,
	.post-preview:nth-of-type(4n-1) .cover-image,
	.post-preview:nth-of-type(4n-2) .cover-image {
		@apply md:rounded-tl-full;
	}

	.post-preview:nth-of-type(4n-3) .cover-image,
	.post-preview:nth-of-type(4n-2) .cover-image,
	.post-preview:nth-of-type(4n) .cover-image {
		@apply md:rounded-tr-full;
	}

	.hero .cover-image {
		@apply overflow-hidden sm:rounded-full;
	}

	.post-header .cover-image {
		@apply overflow-hidden sm:rounded-full;
	}

	.cover-image div {
		display: block !important;
	}

	.flip-x {
		transform: scaleX(-1);
	}

	.flip-y {
		transform: scaleY(-1);
	}
}
